header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    width: 40%;
    place-items: center;
    display: grid;
    margin:5px auto;
    min-width:200px;
}

.user{
    margin-right:20px;
    position:relative;
}

input[type="search"] {
    width: 80%;
    padding:.5rem;
}

.logout{
    position:absolute;
    left:0;
    bottom:-80%;
}

.logout-link{
    display:block;
    text-decoration: none;
    color:inherit;
}

@media screen and (max-width:1000px){
    /* header{
        justify-content: space-between;
    } */
    .search{
        width:60%;
        margin-left:0;
        margin-right:0;
        flex-grow:1;
    }
}