body{
    min-height: 100vh;
}

.main{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.contactos{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.abreviatura{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    color:white;
    background-color: yellowgreen;
    text-align:center;
    line-height:50px;
    margin:10px;
}

.card{
    display:flex;
    margin:1.8rem;
}

.nombre{
    margin:0.4rem;
    font-weight:lighter;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    display: inline-block;
    min-width: 50px;
    text-decoration: none;
    color: white;
    text-align:center;
    padding:.1rem;
    border-radius:5px;
    background-color: yellowgreen;
    margin: .5rem;
}

.content-add{
    position: fixed;
    width:60%;
    bottom:50px;
    text-align:right;
}


.addbtn{
    width:50px;
    height:50px;
    background: none;
    border: 0;
    border-radius:50%;
    background-color: yellowgreen;
    transition:color .3s ease;
    cursor:pointer;
}

.addbtn a {
    text-decoration:none;
    color:black;
}