body{
    min-height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    margin:10px 0 80px;
    padding-bottom:40px;
}

.card{
    margin: 10px 0;
}

.container-buttons{
   display: flex;
   margin-top:80px;
   justify-content:space-around;
   padding: 20px 8px 8px 8px;
   position: fixed;
   bottom: 0;
   width: 100%;
}