:root{
    --color-background: #535c68;
    --color-text: #f5f6fa;
}

body{
    min-height: 100vh;
    min-width:340px;
    color:var(--color-text);
    background-color:var(--color-background);
}

.main{
    width:60%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    z-index:100;
}

.contactos{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.abreviatura{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    color:white;
    background-color: yellowgreen;
    text-align:center;
    line-height:50px;
    margin:10px;
}

.card{
    display:flex;
    margin:1.8rem;
    background-color:inherit;
    box-shadow:0 0 0 0;
    color:white;
}

.nombre{
    margin:0.4rem;
    font-weight:lighter;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons{
    flex-wrap:nowrap;
}

.button{
    display: inline-block;
    min-width: 50px;
    text-decoration: none;
    color: white;
    text-align:center;
    padding:.1rem;
    border-radius:5px;
    background-color: yellowgreen;
    margin: .5rem;
    height:auto;
}

.content-add{
    position: fixed;
    width:100%;
    bottom:50px;
    text-align:right;
}


.addbtn{
    width:50px;
    height:50px;
    background: none;
    border: 0;
    border-radius:50%;
    background-color: yellowgreen;
    transition:color .3s ease;
    cursor:pointer;
    margin:20px;
}

.addbtn a {
    text-decoration:none;
    color:black;
}

@media screen and (max-width:1000px){
    .contactos,.main{
        margin-left:0;
        margin-right:0;
    }

    .buttons{
        display:flex;
    }
}